h1 タスクの編集

.nav.justify-content-end
  = link_to "一覧",tasks_path,class: "nav-link"

/app/views/tasks/_form.html.slimを呼び出す
/localsオプションは、パーシャル内のローカル変数を設定する
/locals: {task: @task} → @taskをローカル変数のtaskにわたす
= render partial: "form", locals: {task: @task}